#scale_infinity {
  animation: scale 5s ease-in-out infinite;
}
#scale_infinity_2 {
  animation: scaleY 6s ease-in-out infinite;
}
#scale_infinity_3 {
  animation: scale 8s ease-in-out infinite;
}
#scale_infinity_4 {
  animation: scaleY 4s ease-in-out infinite;
}
#scale_infinity_5 {
  animation: scaleZ 5s ease-in-out infinite;
}
@keyframes scale {
  0% {
    transform: scale(0.95) translateY(20px);
  }
  50% {
    transform: scale(1) translateY(0px);
  }
  100% {
    transform: scale(0.95) translateY(20px);
  }
}

@keyframes scaleZ {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

@keyframes scaleY {
  0% {
    transform: scale(0.95) translateX(20px);
  }
  50% {
    transform: scale(1) translateX(0px);
  }
  100% {
    transform: scale(0.95) translateX(20px);
  }
}

#checkedcircleanimated {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  animation: checkedcircleanimated 4s ease-in-out infinite forwards;
}

@keyframes checkedcircleanimated {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 750;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.carousel-item-padding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
